.slideList {
    border-right: 2px solid rgb(0, 0, 0);
}

.selectedSlide {
    outline: 3px solid #0b57d0
}

.item {
    
    border-radius: 10px;
}

.slideWrapper {
    margin: 10px;
    border-radius: 10px;
}


.slide {
    border-radius: inherit;
}
