#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

:root {
  --topPanelHeight: 82px;
}

.container {
  display: flex;
  height: calc(100vh - var(--topPanelHeight));
  border-top: 2px solid silver;
}